html {
    scroll-behavior: smooth;
  }

body {
    font-family: Avenir;
    margin: 0;
    margin-bottom: 5rem;
}

/* Style the links inside the navigation bar */
.topnav {
    text-align: right;
    width: 100%;
    background-color: goldenrod;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.17);
    position: fixed;
    top: 0;
    z-index: 1;
}

.topnav a, #greeting a {
    color: black;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.25rem;
  }
  
  .topnav a:hover {
    color: rgb(80, 80, 80);
    /* border-bottom: 2px black solid; */
  }

  .text-block {
      margin: 0 12%;
      padding: 7rem 0 0;
      font-size: 18px;
  }

  .center {
      text-align: center;
  }

  .left {
    text-align: left;
}

.right {
    text-align: right;
}

  .wide-img {
      margin: auto;
      width: 90%;
      margin: 3rem 0 0;
      box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.4);
  }

  #white-title {
      color: white;
      position: relative;
      top: 48%;
      font-size: 10vw;
      text-shadow: 5px 5px 50px black;
    }

    #scroll-down-btn {
        position: relative;
        top: 50%;
        padding: 1.25rem;
        border-radius: 3rem;
        border: none;
        font-size: 1.25rem;
        background-color: white;
    }

  #greeting {
      height: 100vh;
      background-color: black;
      background-image: url(assets/hull_gate.jpeg);
      background-size: cover;
      text-align: center;
  }

  #to-top {
      width: 3rem;
      position: fixed;
      right: 2rem;
      bottom: 2rem;
      z-index: 99;
  }